@page
@using jurnal_poseshenia.Model
@model jurnal_poseshenia.Pages.JurnalModel
@{
}



<a class="btn btn-primary mb-3" href="@Url.Page("JournalEntry", new { id = 0 })">Добавить запись</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var journal in Model.Jurnals) 
    {
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Специальность: @journal.Specialty </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Дата посещения: @journal.VisitDate.ToShortDateString()</h6>
                    <p class="card-text">
                        <strong>ID студента:</strong> @journal.StudentId <br>
                        <strong>ID специальности:</strong> @journal.SpecialtiId
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-page="JournalEntry" asp-route-id="@journal.Id" class="btn btn-warning">Изменить</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@journal.Id">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Удалить запись из журнала?')">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>